@import './mixins.scss';

.aside {
  width: 160px;
  padding-right: 40px;

  &__menu {
    margin-bottom: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;
  }

  @include smartphone-and-tablet {
    padding: 0;
    width: 100%;
    display: block;

    &__menu {
      border: 0;
      margin: 0;
      padding-bottom: 16px;
    }
  }
}
