@import './mixins.scss';

.banner {
  &__wrapper {
    display: flex;
    height: 380px;
    text-align: center;
    justify-content: center;
    background: url('../../../img/banner.png') no-repeat center;
  }

  &__title {
    color: white;
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
  }

  &__description {
    color: white;
    margin-top: 24px;
    line-height: 28px;
  }

  @include smartphone {
    &__title {
      font-size: 40px;
      line-height: 55px;
    }

    &__wrapper {
      height: 210px;
    }
  }
}
