@import './variables.scss';
@import './mixins.scss';

.card {
  cursor: pointer;
  max-width: 304px;
  position: relative;
  background: white;
  margin-bottom: 40px;
  border: 1px solid #eee;
  margin-left: 20px;
  margin-right: 20px;

  &__image {
    position: relative;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      display: inherit;
    }
  }

  &__options {
    top: 280px;
    display: none;
    margin-left: 24px;
    padding: 12px 19px;
    position: absolute;
    background: white;
    border: 1px solid #979797;

    &__item {
      list-style: none;

      a {
        font-size: 14px;
        line-height: 28px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__content {
    padding: 24px 24px 40px 24px;
  }

  &__title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
  }

  &__header {
    display: flex;
  }

  &__flag {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 14px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #f2f2f2;
  }

  &__arrow {
    width: 27px;
    height: 24px;
    margin-left: 16px;
    display: inline-block;
    background: url(../img/arrow-down.svg) #f2f2f2 no-repeat center;
  }

  &__description {
    height: 82px;
    margin: 24px 0;
    overflow: hidden;
    line-height: 28px;
  }

  &__price {
    &__of {
      color: #7e7f7f;
      font-weight: bold;
    }

    &__per {
      color: #55c12d;
      font-weight: bold;
    }
  }

  &__link {
    left: 0;
    z-index: 10;
    width: 100.3%;
    height: 60px;
    bottom: -56px;
    display: none;
    padding-top: 0;
    position: absolute;
    padding-left: 24px;
    background: white;
    box-sizing: border-box;
    border-right: 1px solid #eee;

    a {
      padding-bottom: 4px;
      border-bottom: solid 1px $yellow;
    }
  }

  &:hover {
    &::after {
      content: "";
      top: 0;
      z-index: -1;
      width: 100%;
      height: 510px;
      position: absolute;
      -webkit-box-shadow: 5px 7px 16px 0 rgba(0.5, 0.5, 0.5, 0.1);
      -moz-box-shadow: 5px 7px 16px 0 rgba(0.5, 0.5, 0.5, 0.1);
      box-shadow: 5px 7px 16px 0 rgba(0.5, 0.5, 0.5, 0.1);
      background: white;
    }

    .card__link {
      display: block;
    }

    .card__image {
      &::before {
        content: "";
        height: 6px;
        width: 100%;
        position: absolute;
        display: inline-block;
        background: $yellow;
      }
    }
  }

  @include smartphone {
    margin: 0 0 96px 0;

    &__link {
      display: block;
    }
  }
}
