@import './mixins.scss';

.content {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: -20px;
  margin-right: -20px;

  @include smartphone {
    width: 100%;
    display: block;
    flex-flow: inherit;
    margin: 0;
  }
}
