.xp_error_api_page {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 0;

  h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  p {
    line-height: 28px;
    font-size: 16px;
    max-width: 693px;
    margin: 16px 0 40px 0;
  }
}
