.filter {
  &__items {
    margin: 24px 0 40px 0;
  }

  &__item {
    display: flex;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    position: relative;

    input[type="checkbox"] {
      left: 0;
      width: 0;
      opacity: 0;
      z-index: -1;
      outline: none;
      position: absolute;
    }
  }

  &__checkbox-indicator {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    background: #fff;
    border: 2px solid #8c9ba5;
  }

  &__item input:checked + &__checkbox-indicator {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #464243;

    &::after {
      content: "";
      top: 1px;
      left: 5px;
      width: 6px;
      height: 10px;
      position: absolute;
      border: solid #fff;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
    }
  }
}
