.footer {
  font-size: .75rem;
}
.footer__content {
  padding: 60px 0 200px 200px;

  * {
    color: #7b7b7b;
  }

  .footer__subtitle {
    text-transform: uppercase;
    color: #000;
  }

  ul {
    list-style-position: inside;
    padding-left: 12px;

    li {
      padding: 2px 0 2px 20px;
      text-indent: -16px;
    }
  }
}
