@import './mixins.scss';

.header {
  margin: 64px 0;

  &__title {
    font-size: 30px;
    line-height: 47px;
    font-weight: normal;
    letter-spacing: -0.75px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__links {
    &__item {
      line-height: 19px;
      display: inline-block;
      margin-right: 40px;

      a {
        text-decoration: underline;
      }
    }
  }

  &__cart {
    display: none;
    margin: 0 40px;

    &__image {
      width: 25px;
      height: 25px;
      display: inline-block;
      background: url('../../../img/cart.png') no-repeat;
    }

    &__text {
      width: 26px;
      height: 26px;
      color: white;
      font-size: 14px;
      margin-left: 24px;
      line-height: 26px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      background-color: #55c12d;
    }
  }

  @include smartphone-and-tablet {
    &__title {
      font-size: 30px;
      line-height: 35px;
    }
  }
  
  @include smartphone {
    margin: 40px 0;
  }

  @include tablet {
    margin: 46px 0;
  }
}

.search {
  &__container {
    display: flex;
  }

  &__input {
    width: 210px;
    font-size: 16px;
    background: #f4f4f4;  
  }

  &__button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
    background: url('../../../img/search.png');
  }
}
