@import './variables.scss';
@import './mixins.scss';

.link-menu {
  list-style: none;
  margin-bottom: 24px;

  &__item {
    cursor: pointer;
    font-size: 20px;
    color: #9fa0a0;
    line-height: 24px;
    letter-spacing: -1px;

    &:hover,
    &:active {
      color: $black;
    }
  }

  &--active {
    .link-menu__item {
      color: $black;
    }
  }

  @include smartphone-and-tablet {
    margin-right: 20px;
    display: inline-block;
  }
}
