@import './variables.scss';

@mixin desktop {
  @media (min-width: #{$min-desktop-width}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$min-tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$min-tablet-width}) and (max-width: #{$max-tablet-width}) {
    @content;
  }
}

@mixin smartphone-and-tablet {
  @media (max-width: #{$max-tablet-width}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$max-smartphone-width}) {
    @content;
  }
}
