@import './variables.scss';
@import './mixins.scss';

@mixin subtitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    visibility: hidden;
  
    &--show {
        visibility: visible;

        .modal__container {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    &__container {
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 700px;
        position: fixed;
        background: white;
        padding: 54px 40px 40px 40px;
        transform: translate(-50%, -50%) scale(0.7);
        transition: all 0.3s;

        &--side {
            padding: 0;
            display: flex;
        }
    }

    &__wrapper {
        height: 100%;
        transition: all 0.3s;
        background-color: rgba(103, 103, 103, 0.6);
    }

    &__close {
        top: 24px;
        z-index: 2;
        right: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
    }

    &__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 24px;
        font-family: $roboto;
    }

    &__subtitle {
        @include subtitle;
        margin-bottom: 20px;
    }

    &__text {
        margin: 20px 0;
        font-size: 16px;
        line-height: 28px;
    }

    &__button {
        margin-top: 16px;
    }

    &__confirmation {
        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 24px; 

            &--success {
                color: $green;
            }
        
            &--error {
                color: $red;
            }
        }
    }

    &__description {
        position: relative;
        margin-bottom: 24px;
        box-sizing: border-box;

        &__scroll { 
            z-index: 2;
            height: 170px;
            font-size: 16px;
            line-height: 28px;
            position: relative;
            overflow-y: scroll;
            margin-bottom: 40px;
            padding: 0 16px 20px 0;
        }

        ::-webkit-scrollbar {
            height: 3px;
            width: 3px;
        }
    
        ::-webkit-scrollbar-track {
            background: #ddd;
        }
    
        ::-webkit-scrollbar-thumb {
            background: #ffc709;
        }

        &::before {
            content: '';
            left: 0;
            bottom: 0;
            z-index: 3;
            width: 98%;
            height: 40px;
            position: absolute;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }
    }

    &__side {
        width: 50%;
        min-height: 360px;
        position: relative;
        background: #fafafa;
        padding: 54px 40px 40px;

        &:last-child {
            background: white;
        }

        &__title {
            font-size: 24px;
            font-weight: 300;
            line-height: 40px;
            margin-bottom: 40px;
        }

        input {
            width: 90%;
        }

        &__subtitle {
            @include subtitle;
        }

        .modal__button {
            bottom: 40px;
            position: absolute;
        }
    }

    @include smartphone {
        &__container {
            width: 100%;
            height: 100%;
            display: block;
            overflow: auto;
            box-sizing: border-box;
        }

        &__side {
            width: 100%;
            min-height: inherit;
            box-sizing: border-box;

            .modal__button {
                position: initial;
            }
        }
    }
}

.modal-doubts {
    .modal__description__scroll {
        height: 300px;
    }
}
