// Breakpoints
$min-desktop-width: 1025px;
$max-tablet-width: 1024px;
$min-tablet-width: 768px;
$max-smartphone-width: 767px;

// Colors
$black: #18191a;
$yellow: #ffc709;
$red: #E64230;
$green: #6CAF23;

// Grid
$container-desktop: 1200px;

// Fonts
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
