@import './variables.scss';
@import './mixins.scss';
@import './banner.scss';
@import './header.scss';
@import './aside.scss';
@import './menu.scss';
@import './filter.scss';
@import './content.scss';
@import './footer.scss';
@import './card.scss';
@import './error.scss';
@import './modal.scss';
@import './error.scss';

* {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $roboto;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: normal;
  font-family: $roboto-slab;
}

h3 {
  height: 80px;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  margin-bottom: 40px;
  font-weight: normal;

  &::after {
    content: '';
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    position: absolute;
    background-color: $yellow;
  }
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 16px 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #18191a;
}

body {
  background: #f4f4f4;
}

.xp-container {
  float: none;
  margin: auto;
  padding: 0 20px;
  max-width: $container-desktop;

  @include smartphone {
    padding: 0 26px;
  }

  @include tablet {
    padding: 0 36px;
  }
}

.home {
  &__wrapper {
    display: flex;
  }

  @include smartphone-and-tablet {
    &__wrapper {
      padding: 0;
      display: block;
    }
  }
}

button.button {
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  padding: 16px 46px;
  border-radius: 2px;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $yellow;
  background-color: $yellow;
  text-transform: uppercase;
  transition: background-color 250ms ease-in-out,
              border-color 250ms ease-in-out,
              color 250ms ease-in-out;
}

label.checkbox {
  cursor: pointer;
  line-height: 36px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  display: inline-block;

  input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    width: 0;
    outline: none;
  }

  @include smartphone-and-tablet {
    &.lines {
      line-height: 24px;
    }
  }
}

.checkbox-indicator {
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 2px;
  background: white;
  border: 2px solid $black;

  .checkbox input:focus ~ & {
    box-shadow: 0 0 2px 1px $yellow;
  }

  .checkbox input:checked ~ & {
    outline: none;
    background: white;
  }

  .checkbox input:disabled ~ & {
    opacity: .6;
    background: #ccc;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    display: none;

    .checkbox input:checked ~ & {
      display: block;
      outline: none;
    }

    .checkbox & {
      top: 1px;
      left: 5px;
      width: 8px;
      height: 12px;
      border: solid $black  ;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    .checkbox input:disabled ~ & {
      border-color: #ccc;
    }
  }
}

.field-group {
  margin-bottom: 24px;

  label {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block;
  }

  &__error {
    color: $red;
    font-size: 12px;
    display: inline-block;
  }

  &__field {
    position: relative;

    .icon-lock {
      left: 0;
      top: 5px;
      position: absolute;
    }
  }
}

.digital-signature {
  input {
    padding: 0;
    width: 156px;
    font-size: 30px;
    background: white;
    padding-left: 28px;
    letter-spacing: 6px;
  }
}

.icon-lock {
  width: 14px;
  height: 22px;
  display: inline-block;
  background: url(../img/block.svg) no-repeat center;
  background-size: 100%;
}

.link {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid $yellow;
}

.only-desktop {
  @include smartphone-and-tablet {
    display: none;
  }
}

.only-mobile {
  @include tablet-and-desktop {
    display: none;
  }
}

.only-mobile-tablet {
  @include desktop {
    display: none;
  }
}

.only-desktop-tablet {
  @include smartphone {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #yield-portal-header {
    height: 88px;
  }
}

@media screen and (min-width: 1025px) {
  #yield-portal-header {
    height: 93px;
  }
}

#yield-portal-header:not(.xpi__header__loaded) {
  background-color: $black;
}
