.banner__wrapper {
  display: flex;
  height: 380px;
  text-align: center;
  justify-content: center;
  background: url("../../../img/banner.png") no-repeat center; }

.banner__title {
  color: white;
  font-size: 64px;
  font-weight: 300;
  line-height: 72px; }

.banner__description {
  color: white;
  margin-top: 24px;
  line-height: 28px; }

@media (max-width: 767px) {
  .banner__title {
    font-size: 40px;
    line-height: 55px; }
  .banner__wrapper {
    height: 210px; } }

.header {
  margin: 64px 0; }
  .header__title {
    font-size: 30px;
    line-height: 47px;
    font-weight: normal;
    letter-spacing: -0.75px; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__content {
    display: flex;
    align-items: center; }
  .header__links__item {
    line-height: 19px;
    display: inline-block;
    margin-right: 40px; }
    .header__links__item a {
      text-decoration: underline; }
  .header__cart {
    display: none;
    margin: 0 40px; }
    .header__cart__image {
      width: 25px;
      height: 25px;
      display: inline-block;
      background: url("../../../img/cart.png") no-repeat; }
    .header__cart__text {
      width: 26px;
      height: 26px;
      color: white;
      font-size: 14px;
      margin-left: 24px;
      line-height: 26px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      background-color: #55c12d; }
  @media (max-width: 1024px) {
    .header__title {
      font-size: 30px;
      line-height: 35px; } }
  @media (max-width: 767px) {
    .header {
      margin: 40px 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .header {
      margin: 46px 0; } }

.search__container {
  display: flex; }

.search__input {
  width: 210px;
  font-size: 16px;
  background: #f4f4f4; }

.search__button {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  background: url("../../../img/search.png"); }

.aside {
  width: 160px;
  padding-right: 40px; }
  .aside__menu {
    margin-bottom: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6; }
  @media (max-width: 1024px) {
    .aside {
      padding: 0;
      width: 100%;
      display: block; }
      .aside__menu {
        border: 0;
        margin: 0;
        padding-bottom: 16px; } }

.link-menu {
  list-style: none;
  margin-bottom: 24px; }
  .link-menu__item {
    cursor: pointer;
    font-size: 20px;
    color: #9fa0a0;
    line-height: 24px;
    letter-spacing: -1px; }
    .link-menu__item:hover, .link-menu__item:active {
      color: #18191a; }
  .link-menu--active .link-menu__item {
    color: #18191a; }
  @media (max-width: 1024px) {
    .link-menu {
      margin-right: 20px;
      display: inline-block; } }

.filter__items {
  margin: 24px 0 40px 0; }

.filter__item {
  display: flex;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  position: relative; }
  .filter__item input[type="checkbox"] {
    left: 0;
    width: 0;
    opacity: 0;
    z-index: -1;
    outline: none;
    position: absolute; }

.filter__checkbox-indicator {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background: #fff;
  border: 2px solid #8c9ba5; }

.filter__item input:checked + .filter__checkbox-indicator {
  width: 18px;
  height: 18px;
  border: none;
  background-color: #464243; }
  .filter__item input:checked + .filter__checkbox-indicator::after {
    content: "";
    top: 1px;
    left: 5px;
    width: 6px;
    height: 10px;
    position: absolute;
    border: solid #fff;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0; }

.content {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: -20px;
  margin-right: -20px; }
  @media (max-width: 767px) {
    .content {
      width: 100%;
      display: block;
      flex-flow: inherit;
      margin: 0; } }

.footer {
  font-size: .75rem; }

.footer__content {
  padding: 60px 0 200px 200px; }
  .footer__content * {
    color: #7b7b7b; }
  .footer__content .footer__subtitle {
    text-transform: uppercase;
    color: #000; }
  .footer__content ul {
    list-style-position: inside;
    padding-left: 12px; }
    .footer__content ul li {
      padding: 2px 0 2px 20px;
      text-indent: -16px; }

.card {
  cursor: pointer;
  max-width: 304px;
  position: relative;
  background: white;
  margin-bottom: 40px;
  border: 1px solid #eee;
  margin-left: 20px;
  margin-right: 20px; }
  .card__image {
    position: relative; }
    .card__image img {
      margin: 0;
      padding: 0;
      width: 100%;
      display: inherit; }
  .card__options {
    top: 280px;
    display: none;
    margin-left: 24px;
    padding: 12px 19px;
    position: absolute;
    background: white;
    border: 1px solid #979797; }
    .card__options__item {
      list-style: none; }
      .card__options__item a {
        font-size: 14px;
        line-height: 28px; }
        .card__options__item a:hover {
          text-decoration: underline; }
  .card__content {
    padding: 24px 24px 40px 24px; }
  .card__title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300; }
  .card__header {
    display: flex; }
  .card__flag {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 14px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #f2f2f2; }
  .card__arrow {
    width: 27px;
    height: 24px;
    margin-left: 16px;
    display: inline-block;
    background: url(../img/arrow-down.svg) #f2f2f2 no-repeat center; }
  .card__description {
    height: 82px;
    margin: 24px 0;
    overflow: hidden;
    line-height: 28px; }
  .card__price__of {
    color: #7e7f7f;
    font-weight: bold; }
  .card__price__per {
    color: #55c12d;
    font-weight: bold; }
  .card__link {
    left: 0;
    z-index: 10;
    width: 100.3%;
    height: 60px;
    bottom: -56px;
    display: none;
    padding-top: 0;
    position: absolute;
    padding-left: 24px;
    background: white;
    box-sizing: border-box;
    border-right: 1px solid #eee; }
    .card__link a {
      padding-bottom: 4px;
      border-bottom: solid 1px #ffc709; }
  .card:hover::after {
    content: "";
    top: 0;
    z-index: -1;
    width: 100%;
    height: 510px;
    position: absolute;
    -webkit-box-shadow: 5px 7px 16px 0 rgba(1, 1, 1, 0.1);
    -moz-box-shadow: 5px 7px 16px 0 rgba(1, 1, 1, 0.1);
    box-shadow: 5px 7px 16px 0 rgba(1, 1, 1, 0.1);
    background: white; }
  .card:hover .card__link {
    display: block; }
  .card:hover .card__image::before {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    display: inline-block;
    background: #ffc709; }
  @media (max-width: 767px) {
    .card {
      margin: 0 0 96px 0; }
      .card__link {
        display: block; } }

.xp_error_api_page {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 0; }
  .xp_error_api_page h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px; }
  .xp_error_api_page p {
    line-height: 28px;
    font-size: 16px;
    max-width: 693px;
    margin: 16px 0 40px 0; }

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  visibility: hidden; }
  .modal--show {
    visibility: visible; }
    .modal--show .modal__container {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1; }
  .modal__container {
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 700px;
    position: fixed;
    background: white;
    padding: 54px 40px 40px 40px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s; }
    .modal__container--side {
      padding: 0;
      display: flex; }
  .modal__wrapper {
    height: 100%;
    transition: all 0.3s;
    background-color: rgba(103, 103, 103, 0.6); }
  .modal__close {
    top: 24px;
    z-index: 2;
    right: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute; }
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif; }
  .modal__subtitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px; }
  .modal__text {
    margin: 20px 0;
    font-size: 16px;
    line-height: 28px; }
  .modal__button {
    margin-top: 16px; }
  .modal__confirmation__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px; }
    .modal__confirmation__title--success {
      color: #6CAF23; }
    .modal__confirmation__title--error {
      color: #E64230; }
  .modal__description {
    position: relative;
    margin-bottom: 24px;
    box-sizing: border-box; }
    .modal__description__scroll {
      z-index: 2;
      height: 170px;
      font-size: 16px;
      line-height: 28px;
      position: relative;
      overflow-y: scroll;
      margin-bottom: 40px;
      padding: 0 16px 20px 0; }
    .modal__description ::-webkit-scrollbar {
      height: 3px;
      width: 3px; }
    .modal__description ::-webkit-scrollbar-track {
      background: #ddd; }
    .modal__description ::-webkit-scrollbar-thumb {
      background: #ffc709; }
    .modal__description::before {
      content: '';
      left: 0;
      bottom: 0;
      z-index: 3;
      width: 98%;
      height: 40px;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white); }
  .modal__side {
    width: 50%;
    min-height: 360px;
    position: relative;
    background: #fafafa;
    padding: 54px 40px 40px; }
    .modal__side:last-child {
      background: white; }
    .modal__side__title {
      font-size: 24px;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 40px; }
    .modal__side input {
      width: 90%; }
    .modal__side__subtitle {
      font-size: 16px;
      font-weight: bold;
      line-height: 28px; }
    .modal__side .modal__button {
      bottom: 40px;
      position: absolute; }
  @media (max-width: 767px) {
    .modal__container {
      width: 100%;
      height: 100%;
      display: block;
      overflow: auto;
      box-sizing: border-box; }
    .modal__side {
      width: 100%;
      min-height: inherit;
      box-sizing: border-box; }
      .modal__side .modal__button {
        position: initial; } }

.modal-doubts .modal__description__scroll {
  height: 300px; }

.xp_error_api_page {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 0; }
  .xp_error_api_page h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px; }
  .xp_error_api_page p {
    line-height: 28px;
    font-size: 16px;
    max-width: 693px;
    margin: 16px 0 40px 0; }

* {
  margin: 0;
  padding: 0;
  color: #18191a;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

h1 {
  font-weight: normal;
  font-family: "Roboto Slab", serif; }

h3 {
  height: 80px;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  margin-bottom: 40px;
  font-weight: normal; }
  h3::after {
    content: '';
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    position: absolute;
    background-color: #ffc709; }

input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 16px 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #18191a; }

body {
  background: #f4f4f4; }

.xp-container {
  float: none;
  margin: auto;
  padding: 0 20px;
  max-width: 1200px; }
  @media (max-width: 767px) {
    .xp-container {
      padding: 0 26px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .xp-container {
      padding: 0 36px; } }

.home__wrapper {
  display: flex; }

@media (max-width: 1024px) {
  .home__wrapper {
    padding: 0;
    display: block; } }

button.button {
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  padding: 16px 46px;
  border-radius: 2px;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ffc709;
  background-color: #ffc709;
  text-transform: uppercase;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out, color 250ms ease-in-out; }

label.checkbox {
  cursor: pointer;
  line-height: 36px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  display: inline-block; }
  label.checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    width: 0;
    outline: none; }
  @media (max-width: 1024px) {
    label.checkbox.lines {
      line-height: 24px; } }

.checkbox-indicator {
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 2px;
  background: white;
  border: 2px solid #18191a; }
  .checkbox input:focus ~ .checkbox-indicator {
    box-shadow: 0 0 2px 1px #ffc709; }
  .checkbox input:checked ~ .checkbox-indicator {
    outline: none;
    background: white; }
  .checkbox input:disabled ~ .checkbox-indicator {
    opacity: .6;
    background: #ccc;
    pointer-events: none; }
  .checkbox-indicator:after {
    content: '';
    position: absolute;
    display: none; }
    .checkbox input:checked ~ .checkbox-indicator:after {
      display: block;
      outline: none; }
    .checkbox .checkbox-indicator:after {
      top: 1px;
      left: 5px;
      width: 8px;
      height: 12px;
      border: solid #18191a;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
    .checkbox input:disabled ~ .checkbox-indicator:after {
      border-color: #ccc; }

.field-group {
  margin-bottom: 24px; }
  .field-group label {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block; }
  .field-group__error {
    color: #E64230;
    font-size: 12px;
    display: inline-block; }
  .field-group__field {
    position: relative; }
    .field-group__field .icon-lock {
      left: 0;
      top: 5px;
      position: absolute; }

.digital-signature input {
  padding: 0;
  width: 156px;
  font-size: 30px;
  background: white;
  padding-left: 28px;
  letter-spacing: 6px; }

.icon-lock {
  width: 14px;
  height: 22px;
  display: inline-block;
  background: url(../img/block.svg) no-repeat center;
  background-size: 100%; }

.link {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid #ffc709; }

@media (max-width: 1024px) {
  .only-desktop {
    display: none; } }

@media (min-width: 768px) {
  .only-mobile {
    display: none; } }

@media (min-width: 1025px) {
  .only-mobile-tablet {
    display: none; } }

@media (max-width: 767px) {
  .only-desktop-tablet {
    display: none; } }

@media screen and (max-width: 1024px) {
  #yield-portal-header {
    height: 88px; } }

@media screen and (min-width: 1025px) {
  #yield-portal-header {
    height: 93px; } }

#yield-portal-header:not(.xpi__header__loaded) {
  background-color: #18191a; }

/*# sourceMappingURL=maps/style.css.map */
